
body{
    /* background-color: aqua; */
}
.block{
  /* background-color: #ddd; */
  background: #FAFAFA;
  border: solid 1px #aaa;

  padding-top: 20px;
  padding: 20px;

  text-align: center;
  height: 100%;
}
.map{
    color:red;
}
.nav-link{
    /* background-color: #4CAF50; */
    background: #FAFAFA;
    border: none;
    /* color: white; */
    color: black; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* height: 40px; */
  }

  .active {
    background: #F1F1F1;
    /* background-color: green; */
  }

  .navright{
    /* text-align: right; */
    width:70%;
    display:flex;
    justify-content:flex-end;
  }

  .header{
    /* height: 40px; */
    padding-bottom: 20px;
  }

  .fixed{
    /* width: 300px; */
    height: 600px;
  }